@model L7.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>

    <h3>
    Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Course</th>
            <th>Grade</th>
        </tr>
        @foreach (var enroll in Model.Enrollments)
        {
            @foreach (var grade in enroll.Grades) {
            <tr>
                <td>
                    @enroll.Course.Subject.Title
                </td>
                <td>
                    @grade.GradeOption.Value
                </td>
            </tr>
            }
        }
    </table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
