@model IEnumerable<L7.Models.Grade>

@{
    ViewData["Title"] = "Grades";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by student: <input type="text" name="studentLastName" value="@ViewData["studentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        <p>
            Find by subject: <input type="text" name="subject" value="@ViewData["subjectFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th>
                Grade
            </th>
            <th>
                Clasyfication
            </th>
            <th>
                Course
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment!.Student!.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeOption!.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment!.Course!.Subject!.Title)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
